@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* Skroll panelning umumiy o‘lchami */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}

::-webkit-scrollbar-thumb:active {
  background: black;
}

.cantainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  min-height: 100vh;
  background: linear-gradient(#eeeeff, #c8c7ff);
}
.header {
  width: 100%;
  height: 10vh;
  border-radius: 50px;
  background: #fff;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.bx-menu {
  font-size: 35px;
  display: none !important;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-right select option {
  border: none;
}
.header-right span {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  justify-content: center;
  border: 1px solid #3d39ac;
  background: #3d39ac;
  color: #fff;
  border-radius: 50%;
}
.bxs-user {
  font-size: 35px;
}
.level {
  color: #706db0;
}
main {
  display: flex;
  gap: 20px;
  height: 84vh;
}
.nav {
  width: 15%;
  height: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav button {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #cccce5;
}

.nav button:hover {
  background: #3d39ac !important;

  color: #fff;
}

.add-bg {
  background: #3d39ac !important;
  color: #fff;
}
.chatbot-popur {
  max-width: 85%;
  width: 100%;
  height: 75vh;
  background: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  padding-bottom: 100px 10px;
}

.chat-body {
  padding: 10px 10px 50px !important;
  display: flex;
  gap: 20px;
  max-height: 79vh;
  overflow-y: auto;
  flex-direction: column;
}
.chat-body .message {
  display: flex;

  gap: 11px;
  align-items: end;
}

.chat-body .bot-message .bot-avatar {
  width: 50px;
  height: 50px;
  padding: 2px;
  fill: #fff;
  flex-shrink: 0;
  background: #5350c4;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 50%;
}
.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .message .message-text {
  padding: 10px 16px;
  font-size: 0.95rem;
  background: #f2f2ff;
  border-radius: 20px 20px 20px 0;
  max-width: 75%;
}

.chat-body .bot-messagemessage-text {
  padding: 2px 16px;
}
.chat-body .user-message .message-text {
  border-radius: 13px 13px 3px 13px;
  background-color: #5350c4;
  color: #fff;
}
.chat-body .message .thinking-indicator {
  display: flex;
  gap: 4px;
  opacity: 0.7;

  border-radius: 50%;
  padding-block: 7px;
  animation: dotPluse 1.8s ease-in-out infinite;
}

.chat-body .message .thinking-indicator .dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #6f6bc2;
}
.chat-body .bot-message .thinking-indicator .dot:nth-child(1) {
  animation: dotPluse 1.8s ease-in-out infinite;
  animation-delay: 0s;
}
.chat-body .bot-message .thinking-indicator .dot:nth-child(2) {
  animation: dotPluse 1.8s ease-in-out infinite;
  animation-delay: 0.15s;
}
.chat-body .bot-message .thinking-indicator .dot:nth-child(3) {
  animation: dotPluse 1.8s ease-in-out infinite;
  animation-delay: 0.3s;
}
.attachment {
  width: 50%;
  margin-top: -7px;
  border-radius: 13px 3px 13px 13px;
}

@keyframes dotPluse {
  0%,
  44% {
    transform: translateY(0);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-4px);
  }
  44% {
    opacity: 0.2;
  }
}
.chat-footer {
  position: fixed;
  bottom: 10px;
  padding: 10px 20px;
  width: calc(84% - 2px);
  background: #fff;
  height: 10%;
  border-radius: 0 0 20px 20px;
}
.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #cccce5;
}
.chat-footer .chat-form:focus-within {
  outline: 2px solid #5350c4;
}
.chat-form .message-input {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  font-size: 0.95rem;
  resize: none;
  padding: 14px 0 13px 18px;
  border-radius: inherit;
}
.chat-form .chat-controls {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 3px;
  padding-right: 6px;
  height: 47px;
}
.chat-form .chat-controls button {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #706db0;
  background: none;
  border-radius: 50%;
  font-size: 1.15rem;
}
.chat-form .chat-controls #send-message {
  color: #fff;
  background: #5350c4;
}
.chat-form .chat-controls #send-message:hover {
  background: #3d39ac;
}
.chat-form .chat-controls button:hover {
  background: #f2f2ff;
}

.tarjimon-page,
.lugat-page,
.grammer-page,
.statistika-page {
  max-width: 85%;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .cantainer {
    padding: 0;
    gap: 0;
  }
  .header {
    border-radius: 0px;
    background: #ffff;
    padding: 10px 10px;
  }
  .chatbot-popur {
    border-radius: 0px;
    max-width: 100%;
  }

  .chat-footer {
    max-width: 100%;
    width: 100%;
    height: 10vh;
    bottom: 5px;
    border-radius: 0px;
    height: 14%;
  }
  .chat-body {
    padding: 5px 5px 50px 5px;
    border-radius: 0px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0;
    gap: 0;
  }

  .header,
  .chatbot-popur,
  .chat-footer {
    border-radius: 0;
    max-width: 100%;
  }

  .chat-footer {
    width: 100%;
    height: 14%;
  }

  .chat-body {
    padding: 5px;
  }

  .nav {
    display: none;
  }

  .header-right span {
    width: 35px;
    height: 35px;
  }
  .bxs-user {
    font-size: 25px;
  }
}
@media (max-height: 387px) {
  .chat-footer {
    min-height: 60px;
  }
}

.disiplay-none {
  display: none;
}
.display-block {
  display: block;
}

/* .absaliut {
  position: absolute;
  width: 100%;
  height: 10vh;
} */
